@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: 
         url('./fonts/rubik-v14-latin_cyrillic-300.woff2') format('woff2'),
         url('./fonts/rubik-v14-latin_cyrillic-300.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: 
         url('./fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'), 
         url('./fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: 
         url('./fonts/rubik-v14-latin_cyrillic-700.woff2') format('woff2'), 
         url('./fonts/rubik-v14-latin_cyrillic-700.woff') format('woff'); 
  }

 
  *{
    box-sizing: border-box;
  }
  
  img{
    vertical-align: middle;
  }




.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}

body{
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

.container{
  width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header{
    background-color: #F6F6F6;
}

.header-top{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-logo-link{
    text-decoration:none;
}

.site-logo{
    width: 276px;
    height: 45px;
}

.currency-list{
    list-style: none;
    display: flex;
    margin-left: 41px;
}

.currency-item{
    color: #000;
    margin-right: 25px;
}

.currency-span{
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2959CE;
}

#search{
    width: 275px;
    height: 45px;
    border-radius: 60px;
    border: #7F7F7F;
    padding-left: 47px;
    background-image: url(./images/lupa-removebg-preview.png);
    background-size: 40px;
    background-repeat:no-repeat;
    background-position: left 15px center;
}

#search:focus{
    border-color: #000;
}

.search-text{
    font-family:"Rubik", "Arial", sans-serif ;
    font-size: 14px;
    color: #8D8D8D;
    margin-left: 41px;
}

.language-div{
    background-color: #DCE6FF;
    width: 70px;
    height: 36px;
    border-radius: 39px;
    margin-left: 25px;
}

.language-active{
    display: flex;
    font-family:"Rubik", "Arial", sans-serif ;
    background-color: #fff;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.language-uz-link{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.language-ru-link{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #A6A6A6;
    text-decoration: none;
    margin-left: 15px;
  }

  .site-enter-link{
    text-decoration: none;
    font-family: "Rubik", "Arial", sans-serif;
    width: 89px;
    height: 45px;
    background-color: #7296EC;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 25px;
}

.menu-list{
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
    justify-content: space-between;
}
.menu-item{
    font-family: "Rubik", "Arial", sans-serif;
    
}

.menu-link{
    text-decoration: none;
    font-size: 18px;
    color: #7F7F7F;
}

.menu-span{
    display: block;
    background-color: #D1D1D1;
    width: 1200px;
    height: 1px;
    margin-top: 20px;
}

.header-bottom-img{
    margin-top: 40px;
    margin-bottom: 50px;
}

.qiziqarli-title{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.mire-div{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.mire-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.mire-item{
    font-family: "Rubik", "Arial", sans-serif;
    background-color: #F6F6F6;
    border-radius: 15px;
    width: 797px;
    height: 205px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-left: 17px;
    margin-bottom: 10px;
}

.china-news{
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.china-news-img{
    width: 210px;
    height: 165px;
}

.china-about{
    width: 535px;
    margin: 0 auto;
    padding: 0;
    margin-left: 15px;
}

.china-news-title{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
}

.china-link{
    text-decoration: none;
    color: #000;
}

.china-text{
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    color: #4A4B4C;
    margin-top: 10px;
}

.china-logo-div{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.china-logo-text{
    font-family: "Rubik", "Arial", sans-serif;
    font-style: 12px;
    color: #5E5F61;
    margin-left: 10px;
}

.china-logo-time{
    font-family: "Rubik", "Arial", sans-serif;
    font-style: 12px;
    color: #5E5F61;
}

.pokazat-item{
    background-color:  #EAEAEA;
    width: 796px;
    height: 53px;
    margin-top: 17px;
    border-radius: 10px;
    text-align: center;
    padding-top: 17px;
}

.pokazat-item-link{
    text-decoration: none;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 16px;
}

.glavnoy-menu-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    
}

.glavnoy-item{
    font-family: "Rubik", "Arial", sans-serif;
    background-color:  #F6F6F6;
    width: 393px;
    height: 502px;
    border-radius: 15px;
    margin-left: 10px;
    padding-right: 20px;
}

.glavnoy-title{
    font-weight: 500;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 17px;
    margin: 0 auto;
}

.fergana-title{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-left: 17px;
    padding-top: 25px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.fergana-link{
    text-decoration: none;
    color: #000;
}

.fergana-text{
    display: inline;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    color:  #5E5F61;
    margin: 0 auto;
    padding-left: 17px;
}

.fergana-time{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    color:  #5E5F61;
}

.fergana-span{
    display: block;
    background-color: #D2D2D2;
    width: 359px;
    height: 1px;
    margin-top: 20px;
    margin-left: 17px;
} 

.chegirma-item{
   margin-top: 10px;
   margin-left: 10px;
}

.chegirma-img{
    width: 393px;
    height: 553px;
} 

.footer-div{
    background-color:  #7297EF;
    margin-top: 100px;
}

.footer{
    width: 1100px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
 }

.footer-list{
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.footer-list-item{
    font-family: "Rubik", "Arial", sans-serif;
    padding-top: 40px;
}

.footer-title{
  margin: 0 auto;
  padding: 0;
}

.footer-title-link{
    text-decoration: none;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.list-item-div{
    width: 229px;
    height: 95px;
    margin-top: 15px;
}

.footer-text{
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    padding: 0;
}

.about-site-item{
    font-family: "Rubik", "Arial", sans-serif;
    padding-top: 83px;
    padding-left: 203px;
}

.informatsiya-div{
    width: 167px;
}

.informatsiya-title{
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

.site-item-link{
    text-decoration: none;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer-span{ 
    display: block;
    width: 998px;
    height: 1px;
    background-color:#fff;
    margin-top: 30px;
}

.set-div{
    display: flex;
    vertical-align: middle;
}

.set-title-div{
    width: 161px;
    margin-top: 20px;
}

.set-title{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    color: #fff;
}

.set-title-link{
    text-decoration: none;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    color: #fff;
}

.set-img-div{
    display: flex;
    margin-left: 662px;
    margin-top: 41px;
    margin-bottom: 50px;
}

.set-link{
    margin-right: 25px;
}

.set-img{
    width: 25px;
    height: 25px;
}



